*.aux
*.log
*.out
*.toc
*.lof
*.glo
*.gls
*.mp4
*.npz
*.wav
*-glg
*-glo
*-gls
*.fdb_latexmk
*.ist
*.glg
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.dvi
*.nav
*.snm
*.vrb
*.idx
*.ind
*.ilg
*.ind
*.thm
*.ps
.DS_Store
*.math-glg
*.math-gls
*.mlsystems-glg
*.mlsystems-gls
*.mlsystems-glo
*.regulation-glg
*.regulation-gls
*.regulation-glo
*.reinflearning-glg
*.reinflearning-glo
*.reinflearning-gls
*.def
